---
import { avatar, name, role, email, location, socials } from "../data/site";
---

<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src={avatar} alt={name} width="80" />
    </figure>
    <div class="info-content">
      <h1 class="name" title={name}>{name}</h1>
      <p class="title">{role}</p>
    </div>
    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>
  <div class="sidebar-info_more">
    <div class="separator"></div>
    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box"><ion-icon name="mail-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a href={`mailto:${email}`} class="contact-link">{email}</a>
        </div>
      </li>
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>{location}</address>
        </div>
      </li>
    </ul>
    <div class="separator"></div>
    <ul class="social-list">
      {
        socials.map((s) => (
          <li class="social-item">
            <a
              href={s.href}
              class="social-link"
              target={s.href.startsWith("http") ? "_blank" : undefined}
              rel="noopener"
            >
              <ion-icon name={s.icon} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
