---
import { avatar, name, role, location, socials } from "../data/site";
import { booking } from "../data/contact";
---

<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src={avatar} alt={name} width="80" />
    </figure>
    <div class="info-content">
      <h1 class="name" title={name}>{name}</h1>
      <p class="title">{role}</p>
    </div>
  </div>
  <div class="sidebar-info_more">
    <div class="separator"></div>
    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>{location}</address>
        </div>
      </li>
    </ul>
    <div class="separator"></div>
    <ul class="social-list social-list--with-cta">
      {
        socials.map((s) => (
          <li class="social-item">
            <a
              href={s.href}
              class="social-link"
              target={s.href.startsWith("http") ? "_blank" : undefined}
              rel="noopener"
            >
              <ion-icon name={s.icon} />
            </a>
          </li>
        ))
      }
      <li class="social-item social-item--cta">
        <a href={booking.url} class="cta-mini" target="_blank" rel="noopener">
          <span>Let's talk</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
